#auto-super-container,
.as-header__control button:hover {
    background-color: #ddd
}

.visa-group,
header.as-header {
    position: relative;
    display: flex
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

#auto-super-container button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer
}

#auto-super-container {
    position: fixed;
    z-index: 9999999999;
    left: 0;
    top: 0;
    width: 450px;
    border: 1px solid #aaa;
    color: #3c3c3c;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    overflow: hidden;
    box-shadow: rgba(14, 30, 37, .12) 0 2px 4px 0, rgba(14, 30, 37, .32) 0 2px 16px 0
}

#auto-super-container.minimize {
    height: 40px;
    width: 340px
}

header.as-header {
    justify-content: space-between;
    align-items: center;
    height: 38px;
    padding: 0 0 2px 48px;
    background-color: #fff;
    font-size: 13px;
    font-style: italic;
    cursor: move;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none
}

header.as-header p {
    margin: 4px 0 0
}

header.as-header p::before {
    content: "";
    position: absolute;
    top: 0;
    left: 4px;
    width: 38px;
    height: 38px;
    background: url('cc.png') 0 0/cover
}

.as-header__control {
    display: flex;
    cursor: auto
}

.as-header__control button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    height: 38px;
    width: 38px;
    background-color: transparent;
    cursor: pointer
}

.as-header__control button.disable {
    opacity: .2;
    pointer-events: none
}

.minimize-btn-as::before {
    content: '';
    width: 12px;
    height: 1px;
    background-color: #000
}

.maximize-btn-as::before {
    content: '';
    width: 12px;
    height: 12px;
    border: 1px solid #000
}

section.as-content {
    padding: 20px 12px 8px
}

#auto-super-container label.label-title {
    display: block;
    margin-bottom: 4px;
    font-weight: 700;
    text-transform: uppercase
}

#auto-super-container label.sub-label-title {
    font-size: 12px
}

.visa-group {
    align-items: center
}

.visa-upload {
    display: flex;
    justify-content: space-between;
    margin: 10px 0
}

.visa-upload__container {
    flex-grow: 1;
    border: 1px dashed;
    border-radius: 4px;
    background-color: #f6f6f6
}

.visa-upload__container:hover {
    filter: brightness(.95)
}

.visa-upload__container label {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    cursor: pointer
}

.visa-upload__container i {
    width: 14px;
    margin-right: 12px
}

.visa-upload__info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 76px;
    margin-left: 8px;
    border: 1px dashed green;
    border-radius: 4px;
    color: green
}

#auto-super-container input {
    padding: 4px 8px;
    border-radius: 4px;
    border: none;
    font-size: 16px
}

.visa-group input:disabled {
    filter: brightness(.5)
}

#auto-super-container input::placeholder {
    font-size: 14px
}

.visa-group button[name=visa-edit] {
    flex-grow: 1;
    margin-left: 12px;
    padding: 5px;
    line-height: 0
}

.visa-group button[name=visa-edit] i {
    width: 15px
}

#visa-code {
    width: 160px
}

#visa-month {
    width: 40px
}

#visa-year {
    width: 56px
}

#visa-cvc {
    width: 48px
}

.copy-btn {
    position: absolute;
    top: calc(100% + 4px);
    width: 25px;
    height: 25px;
    border: 1px solid #555;
    border-radius: 4px;
    background-color: #eee;
    padding: 5px;
    cursor: pointer
}

.copy-btn:hover {
    filter: brightness(.9)
}

#copy-code {
    left: 70px
}

#copy-time {
    left: 208px
}

#copy-cvc {
    left: 304px
}

.as-content__loop {
    margin: 20px 0 32px
}

input#as-loop {
    width: 150px
}

.as-content__control {
    text-align: center;
    margin-bottom: 16px;
    margin-top: 50px
}

.as-content__control button {
    padding: 8px 16px
}

.as-content__control button.running {
    border: 1px solid #b90000;
    color: #b90000
}

.as-content__status {
    font-size: 13px;
    line-height: 22px;
    margin-bottom: 8px
}

#as-status {
    color: green
}

#as-status::after {
    content: "..."
}

.output-container {
    position: relative;
    padding-right: 40px;
    margin: 6px 0
}

#as-output-account {
    padding: 8px;
    width: 100%;
    height: 54px;
    resize: none;
    border: none
}

#copy-output-account,
#copy-output-link {
    top: 24px;
    right: 8px
}

input#as-output-link {
    width: 100%;
    padding: 6px 8px;
    font-size: 14px
}

.signature {
    line-height: 15px;
    font-size: 12px;
    margin: 10px 0 0
}